// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0px 0px;
	background-color: #CADD21;
}

.jumbotron {
	background-color: #000;
}

.center
{
  position: relative;
  left: 50%;
}

.middle
{
  position: relative;
  top: 50%;
}

#sign-in-with-twitter
{
  margin-left: -79px;
  margin-top: -14px;
}

#userbadge {
	display: inline-block;
}

